[[tests]]
name = "01"
input = ["./project01", "-e", "1 + 2"]
expected = """
3
"""
rubric = 3

[[tests]]
name = "02"
input = ["./project01", "-e", "10", "-b", "16"]
expected = """
0x0000000A
"""
rubric = 3

[[tests]]
name = "03"
input = ["./project01", "-e", "10 + 1"]
expected = """
11
"""
rubric = 3

[[tests]]
name = "04"
input = ["./project01", "-e", "10 + 1", "-b", "16"]
expected = """
0x0000000B
"""
rubric = 3

[[tests]]
name = "05"
input = ["./project01", "-e", "10", "-b", "16", "-w", "16"]
expected = """
0x000A
"""
rubric = 3

[[tests]]
name = "06"
input = ["./project01", "-e", "10", "-b", "2"]
expected = """
0b00000000000000000000000000001010
"""
rubric = 3

[[tests]]
name = "07"
input = ["./project01", "-e", "10", "-b", "2", "-w", "4"]
expected = """
0b1010
"""
rubric = 3

[[tests]]
name = "08"
input = ["./project01", "-e", "0x0A", "-b", "10"]
expected = """
10
"""
rubric = 3

[[tests]]
name = "09"
input = ["./project01", "-e", "0x0A", "-b", "2", "-w", "8"]
expected = """
0b00001010
"""
rubric = 3

[[tests]]
name = "10"
input = ["./project01", "-e", "((1 + 1) * 1)", "-b", "16", "-w", "16"]
expected = """
0x0002
"""
rubric = 3

[[tests]]
name = "11"
input = ["./project01", "-e", "((1 + 1) * 1)", "-b", "2", "-w", "8"]
expected = """
0b00000010
"""
rubric = 3

[[tests]]
name = "12"
input = ["./project01", "-e", "(1 << 16)", "-b", "10", "-w", "32"]
expected = """
65536
"""
rubric = 3

[[tests]]
name = "13"
input = ["./project01", "-e", "(1 << 16)", "-b", "10", "-w", "16"]
expected = """
0
"""
rubric = 3

[[tests]]
name = "14"
input = ["./project01", "-e", "(1 << 16)", "-b", "16", "-w", "32"]
expected = """
0x00010000
"""
rubric = 3

[[tests]]
name = "15"
input = ["./project01", "-b", "10", "-w", "8", "-e", "(2 * (0b1111 & 0b1010))"]
expected = """
20
"""
rubric = 3

[[tests]]
name = "16"
input = ["./project01", "-b", "10", "-w", "8", "-e", "0b00001000"]
expected = """
8
"""
rubric = 3

[[tests]]
name = "17"
input = ["./project01", "-b", "10", "-w", "4", "-e", "0b00001000"]
expected = """
-8
"""
rubric = 3

[[tests]]
name = "18"
input = ["./project01", "-b", "10", "-u", "-w", "4", "-e", "0b00001000"]
expected = """
8
"""
rubric = 3

[[tests]]
name = "19"
input = ["./project01", "-b", "10", "-w", "8", "-e", "-128 >- 2"]
expected = """
-32
"""
rubric = 3

[[tests]]
name = "20"
input = ["./project01", "-e", "(((((~((-(2 * ((1023 + 1) / 4)) >- 2) << 8)) >> 10) ^ 0b01110) & 0x1E) | ~(0b10000))"]
expected = """
-1
"""
rubric = 3
